$colors:(
    'primary': #0b76f1,
    'secondary': #8e2de2,
    'success': #099c7a,
    'error': #f6343e,
    'warning': #f37f55,
    'black':#212121,
    'white' : #f5f5f5,
    'bc-white':#ffffff,
    'gray': #e2e2e2
);