@use './colors' as colors;

@mixin containerPadding($paddingV: 0.8rem , $paddingH: 18%){
    width: 100%;
    padding: $paddingV $paddingH;
}

@mixin text-ellipsis($lineclamp: null) {
    overflow: hidden;
  
    @if $lineclamp {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $lineclamp;
    } @else {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

@mixin underlineAnimation(){
    position: relative;
    width: fit-content;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 0.25rem;
        bottom: 0;
        left: 0;
        background-color: map-get($map: colors.$colors, $key: 'primary');
        transform: scaleX(0);
        transform-origin: top right;
        transition: transform 0.3s ease;
    }

    &:hover::before {
    transform: scaleX(1);
    }
}

//buttons
@mixin button($color: map-get($map: colors.$colors, $key: 'primary'), $type: 'primary') {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 8.75rem;
    width: 100%;
    padding: 0.3125rem 1.25rem;
    border-radius: 0.9rem;
    
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    
    cursor: pointer;
    transition: ease-out 0.3s;

    &:active {
        transform: scale(0.85);
    }
    
    @if $type == 'primary'{
        background: $color;
        color: map-get($map: colors.$colors, $key: 'white');
        border: 0.125rem solid $color;
        box-shadow: inset 0 0 0 0 $color;

        &:hover{
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        }

        &:active{
            transition: 0.3s;
        }

    }@else if $type == 'secondary'{
        
        background: transparent;
        border: 0.125rem solid map-get($map: colors.$colors, $key: 'black');

        &:hover {
            color: $color;
            border-color: $color;
        }
        
    }@else if $type == 'code'{
        color: map-get($map: colors.$colors, $key: 'white');
        border: none;
        background: linear-gradient(to right, #8e2de2, #4a00e0);
        overflow: hidden;

        & span {
            position: relative;
            z-index: 10;
            display: flex;
            align-items: center;
            gap: 0.8rem;
            
            & > svg{
                width: 1em;
            }
        }

        &::after, &::before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }

        &::before{
            content: "";
            background: map-get($map: colors.$colors, $key: 'black');
            width: 120%;
            left: -10%;
            transform: skew(30deg);
            transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
        } 

        &:hover::before{
            transform: translate3d(100%, 0, 0);
        } 
    }
}

// inputs

@mixin input($background: black, $lineColor: map-get($map: colors.$colors, $key: 'primary')  ,$type: 'normal'){
    
    position: relative;
    width: 100%;
    border-radius: 0.3125rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .label {
        position: absolute;
        top: 1.25rem;
        left: 0.75rem;
        font-size: 1.125rem;
        color: rgba($background, 0.5);
        font-weight: 500;
        transform-origin: 0 0;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s ease;
        pointer-events: none;
    }

    .icon{
        position: absolute;
        color: rgba($background, 0.6);
        background-color: transparent;
        top: 1rem;
        right: 0.75rem;
        font-size: 1.5rem;
        cursor: pointer;

        &--active{
            color: $lineColor;
        }
    }

    .focus-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($background, 0.05);
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;
    }

    .input {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        border: 0;
        font-family: inherit;
        padding: 1rem 0.75rem 0 0.75rem;
        height: 3.5rem;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.0938rem;
        background: rgba($background, 0.02);
        box-shadow: inset 0 -0.0625rem 0 rgba($background, 0.3);
        color: $background;
        transition: all 0.15s ease;

        &:hover {
            background: rgba($background, 0.07);
            box-shadow: inset 0 -0.0625rem 0 rgba($background, 0.5);
        }

        &:not(:placeholder-shown) {
            + .label {
                color: rgba($background, 0.5);
                transform: translate3d(0, -0.75rem, 0) scale(0.75);
            }
        }

        &:focus {
            background: rgba($background, 0.05);
            outline: none;
            box-shadow: inset 0 -0.125rem 0 $lineColor;

            + .label {
                color: $lineColor;
                transform: translate3d(0, -0.75rem, 0) scale(0.75);
            }
            + .focus-bg {
                transform: scaleX(1);
                transition: all 0.1s ease;
            }
        }
    }
}

//difficulty
@mixin difficulty ($color: white){
    
    border: 0.0625rem solid $color;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 0.3125rem;
    overflow: hidden;
    font-weight: bold;
    

    .number {
        background-color: $color;
        color: white;
        padding: 0.2rem 0.5rem;
        font-size: 0.75rem;
    }

    .tag {
        padding: 0 0.5rem;
        color: $color;
        text-transform: uppercase;
        font-size: 0.75rem;
    }
}

//card
@mixin card (){
    width: 20.625rem;
    height: 28.125rem;
    border-radius: 0.625rem;
    overflow: hidden;
    border: 0.0125rem solid rgb(218, 218, 218);

    &__foto {
        position: relative;
        height: 50%;
        object-fit: contain;

        img {
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        span {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 20%;

            background: rgb(80, 80, 80);
            background: linear-gradient(
                0deg,
                rgba(80, 80, 80, 0.926437762605042) 0%,
                rgba(199, 199, 199, 0) 100%
            );

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__info {
        background-color: white;
        height: 50%;
        padding: 1rem;

        &--top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__extra-info {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .chg__tags {
            width: 100%;
            max-width: 12.5rem;
            padding-right: 1.7rem;
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            text-transform: uppercase;

            .html {
                color: lightblue;
            }

            .css {
                color: lightcoral;
            }

            .js {
                color: lightgreen;
            }

            .api {
                color: lightseagreen;
            }
        }
    }

    &__description {
        @include text-ellipsis(4);
    }
}